.About {
    display: flex;
    justify-content: space-between;
}

.about_img {
    width: 90%;
    height: 50%;
    padding: 20px;
    margin: 10px;
}

.About_right {
    position: relative;
    right: 3%;
}

.about_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}