.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.header_left {
    display: flex;
}

.headerleft_span {
    width: 25px !important;
    height: 25px !important;
    background-color: teal;
    margin: 5px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.headercenter_ul {
    display: flex;

}

.headercenter_li {
    list-style: none;
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
}

.header_right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.headerright_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Search_img {
    width: 30px;
}